.header-left {
  @apply flex flex-shrink-0 justify-start items-center gap-2;
}
.header-middle {
  @apply flex flex-1 items-center max-w-[586px] ml-[28px] gap-[14px];
}
.header-right {
  @apply flex flex-shrink-0 justify-start items-center gap-2;
}
.avatar {
  position: relative;
}
.avatar:hover::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgb(185, 185, 185);
  opacity: 0.2;
}
.avatar:active::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgb(96, 95, 95);
  opacity: 0.2;
}
.active:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translateY(calc(100% + 1px));

  height: 3px;
  background: var(--blue-color);
}
.number {
  position: absolute;
  top: 4px;
  right: 30px;

  font-size: 11px;
  height: 18px;
  padding: 0 4px;
  min-width: 18px;
  border-radius: 9999999px;
  @apply bg-red-600 flex justify-center items-center text-white z-20;
}
