.avatar {
  @apply relative w-10 h-10 rounded-full border border-solid border-gray-200 overflow-hidden flex-shrink-0;
}
.avatar:hover::after {
  content: "";
  @apply absolute inset-0 bg-gray-300 opacity-20;
}
.avatar:active::after {
  content: "";
  @apply absolute inset-0 bg-gray-500 opacity-20;
}
.template-1 {
  @apply w-full grid grid-cols-1 gap-[2px];
}
.template-1 img {
  @apply w-full h-[233px] object-cover;
}
.template-2 {
  @apply w-full grid grid-cols-2 gap-[2px];
}
.template-2 img {
  @apply w-full col-span-1 h-[233px] object-cover;
}
.template-3 {
  @apply w-full grid grid-cols-6 gap-[2px];
}
.template-3 img:nth-child(1) {
  @apply w-full col-span-6 h-[233px] object-cover;
}
.template-3 img:nth-child(2),
.template-3 img:nth-child(3) {
  @apply w-full col-span-3 h-[233px] object-cover;
}
.template-4 {
  @apply w-full grid grid-cols-2 gap-[2px];
}
.template-4 img:nth-child(1),
.template-4 img:nth-child(2) {
  @apply w-full col-span-1 h-[233px] object-cover;
}
.template-4 img:nth-child(3),
.template-4 img:nth-child(4) {
  @apply w-full col-span-1 h-[150px] object-cover;
}
.template-5 {
  @apply w-full grid grid-cols-6 gap-[2px];
}
.template-5 img:nth-child(1),
.template-5 img:nth-child(2) {
  @apply w-full col-span-3 h-[233px] object-cover;
}
.template-5 img:nth-child(3),
.template-5 img:nth-child(4),
.template-5 :nth-child(5) {
  @apply w-full col-span-2 h-[150px] object-cover;
}

.add-post__btn {
  @apply relative cursor-pointer w-9 h-9 flex justify-center items-center rounded-full overflow-hidden;
}
.add-post__btn:hover:not(:disabled)::after {
  content: "";
  @apply absolute inset-0 bg-gray-800 opacity-5;
}
