.slider {
  @apply flex justify-center items-center gap-2 mt-[120px];
}
.slider input[type="range"] {
  -webkit-appearance: none;
  width: 55%;
  height: 4px;
  background: #ced0d4;
}
.slider input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  outline: none;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0 2px 2px var(--shadow-1), 0 2px 2px 0 var(--shadow-2),
    inset 0 0 0 1px var(--shadow-inset);
  border: 1px solid var(--bg-third);
}
