@import "./styles/fonts/index.css";
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

/* React Slick */
.slick-track {
  display: flex;
}
.slick-slide {
  margin: 0 8px;
}
.slick-list {
  margin: 0 -8px;
}
.slick-prev {
  @apply w-12 h-12 rounded-full !bg-gray-200 transition-all duration-200 hover:!bg-gray-300 flex justify-center items-center left-4;
  z-index: 1;
}
.slick-next {
  @apply w-12 h-12 rounded-full !bg-gray-200 transition-all duration-200 hover:!bg-gray-300 flex justify-center items-center absolute right-4;
  z-index: 1;
}
.slick-prev::before {
  content: url("/icons/arrowRight.svg");
  display: inline-block;
  transform: rotate(180deg);
  color: #65676b;
}
.slick-next::before {
  content: url("/icons/arrowRight.svg");
  display: inline-block;
  color: #65676b;
}
.slick-disabled {
  display: none !important;
}
@layer base {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  body {
    font-family: "SFProDisplay", Helvetica, Arial, sans-serif;
  }
  html {
    overflow-y: scroll;
  }
  a {
    text-decoration: none;
    color: inherit;
  }
  option {
    font-weight: normal;
    display: block;
    white-space: nowrap;
    min-height: 1.2em;
    padding: 0px 2px 1px;
  }

  :root {
    --bg-primary: #fff;
    --bg-secondary: #f0f2f5;
    --bg-third: #e4e6eb;
    --bg-error: #be4b49;
    --overlay-white: rgba(255, 255, 255, 0.8);
    /*  */
    --bg-forth: #f0f2f5;
    --bg-menu: #f7f8fa;
    --color-primary: #050505;
    --color-secondary: #65676b;
    --divider: #ced0d4;
    --dark-bg-primary: #18191a;
    --dark-bg-secondary: #242526;
    --dark-bg-third: #3a3b3c;
    --dark-color-primary: #242526;
    --dark-color-secondary: #b0b3b8;
    --blue-color: #1876f2;
    --green-color: #42b72a;
    --light-blue-color: #e7f3ff;
    --border-color: #ccced2;
    --shadow-1: rgba(0, 0, 0, 0.2);
    --shadow-2: rgba(0, 0, 0, 0.1);
    --shadow-3: rgba(0, 0, 0, 0.3);
    --shadow-inset: rgba(255, 255, 255, 0.5);
    --color-eye-hover: rgba(0, 0, 0, 0.05);
  }
}

@layer components {
  .container {
    @apply w-auto max-w-[980px] my-0 mx-[40px] lg:mx-auto;
  }
  .btn {
    @apply cursor-pointer text-xl leading-[48px] py-0 px-[16px] text-white rounded-[6px];
  }
  .spacer {
    @apply h-[0.5px] w-full bg-[#dadde1] my-[20px];
  }
  .link {
    @apply text-[12px] text-[#737373];
  }
  .link:not(:first-child) {
    @apply pl-[10px];
  }
  .input {
    @apply w-full rounded-[6px] py-[14px] px-[16px] bg-white border border-solid border-[#dddfe2] text-[17px];
  }
  .input:focus-visible {
    outline: none;
    border-color: var(--blue-color);
    box-shadow: 0 0 0 2px var(--light-blue-color);
    caret-color: var(--blue-color);
  }
  .register-input {
    @apply p-[11px] bg-[#f5f6f7] border border-solid border-[#ccd0d5] rounded-[5px] text-[15px] leading-[16px] text-[#1c1e21] w-full;
  }
  .register-input:focus-visible {
    @apply outline-none;
  }
  .error-box {
    @apply text-[13px] max-w-[300px] p-[13px] bg-[var(--bg-error)] text-white border-0 rounded-[2px] relative;
    box-shadow: 0 0 0 1px rgb(139 3 0 / 75%), 0 1px 10px rgb(0 0 0 / 35%);
  }
  .error-box::after {
    content: "";
    border: 10px solid transparent;
  }
  .error-box.error-box--bot::after {
    border-bottom-color: var(--bg-error);
    position: absolute;
    top: 0;
    left: 10px;
    transform: translateY(-100%);
  }
  .error-box.error-box--top::after {
    border-top-color: var(--bg-error);
    position: absolute;
    bottom: 0;
    right: 10px;
    transform: translateY(100%);
  }
  .error-box.error-box--left::after {
    border-left-color: var(--bg-error);
    position: absolute;
    top: 40%;
    right: 0;
    transform: translate(100%, -50%);
  }
  .error-box.error-box--right::after {
    border-right-color: var(--bg-error);
    position: absolute;
    top: 40%;
    left: 0;
    transform: translate(-100%, -50%);
  }
  .helper-box {
    @apply max-w-[356px] rounded-[2px] p-3 bg-white;
    box-shadow: 0 0 0 1px rgb(0 0 0 / 10%), 0 1px 10px rgb(0 0 0 / 35%);
  }
}
@layer utilities {
  .btn-blue {
    @apply bg-[var(--blue-color)];
  }
  .btn-green {
    @apply bg-[var(--green-color)];
  }
  .fade-out {
    opacity: 0;
    width: 0;
    height: 0;
    transition: width 0.5s 0.5s, height 0.5s 0.5s, opacity 0.5s;
  }
  .fade-in {
    opacity: 1;
    width: 100%;
    height: 100%;
    transition: width 0.5s, height 0.5s, opacity 0.5s 0.5s;
  }
  .shadow1 {
    box-shadow: rgb(0 0 0 / 25%) 0px 9px 12px;
  }
  .shadow2 {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  }
  .shadow3 {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  .custom-scrollbar::-webkit-scrollbar {
    width: 10px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    display: none;
    background: #c6c6c6;
    border-radius: 99999px;
    transition: all 300ms linear;
  }
  .custom-scrollbar:hover::-webkit-scrollbar-thumb {
    display: block;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #9b9b9b;
  }
}
