@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  body {
    font-family: "Segoe UI", Helvetica, Arial, sans-serif;
  }
  html {
    overflow-y: scroll;
  }
  a {
    text-decoration: none;
    color: inherit;
  }
  :root {
    --bg-primary: #fff;
    --bg-secondary: #f0f2f5;
    --bg-third: #e4e6eb;
    --bg-error: #be4b49;
    /*  */
    --bg-forth: #f0f2f5;
    --color-primary: #050505;
    --color-secondary: #65676b;
    --divider: #ced0d4;
    --dark-bg-primary: #18191a;
    --dark-bg-secondary: #242526;
    --dark-bg-third: #3a3b3c;
    --dark-color-primary: #242526;
    --dark-color-secondary: #b0b3b8;
    --blue-color: #1876f2;
    --green-color: #42b72a;
    --light-blue-color: #e7f3ff;
    --border-color: #ccced2;
    --shadow-1: rgba(0, 0, 0, 0.2);
    --shadow-2: rgba(0, 0, 0, 0.1);
    --shadow-3: rgba(0, 0, 0, 0.3);
    --shadow-inset: rgba(255, 255, 255, 0.5);
  }
}

@layer components {
  .container {
    @apply w-auto max-w-[980px] my-0 mx-[40px] lg:mx-auto;
  }
  .btn {
    @apply cursor-pointer text-xl leading-[48px] py-0 px-[16px] text-white rounded-[6px];
  }
  .spacer {
    @apply h-[0.5px] w-full bg-[#dadde1] my-[20px];
  }
  .link {
    @apply text-[12px] text-[#737373];
  }
  .link:not(:first-child) {
    @apply pl-[10px];
  }
  .input {
    @apply w-full rounded-[6px] py-[14px] px-[16px] bg-white border border-solid border-[#dddfe2] text-[17px];
  }
  .input:focus {
    outline: none;
    border-color: var(--blue-color);
    box-shadow: 0 0 0 2px var(--light-blue-color);
    caret-color: var(--blue-color);
  }
  .error-box {
    @apply text-[13px] max-w-[300px] p-[13px] bg-[var(--bg-error)] text-white border-0 rounded-[2px] relative;
    box-shadow: 0 0 0 1px rgb(139 3 0 / 75%), 0 1px 10px rgb(0 0 0 / 35%);
  }
  .error-box::after {
    content: "";
    border: 10px solid transparent;
  }
  .error-box.error-box--bot::after {
    border-bottom-color: var(--bg-error);
    position: absolute;
    top: 0;
    left: 10px;
    transform: translateY(-100%);
  }
  .error-box.error-box--top::after {
    border-top-color: var(--bg-error);
    position: absolute;
    bottom: 0;
    right: 10px;
    transform: translateY(100%);
  }
  .error-box.error-box--left::after {
    border-left-color: var(--bg-error);
    position: absolute;
    top: 40%;
    right: 0;
    transform: translate(100%, -50%);
  }
  .error-box.error-box--right::after {
    border-right-color: var(--bg-error);
    position: absolute;
    top: 40%;
    left: 0;
    transform: translate(-100%, -50%);
  }
}
@layer utilities {
  .btn-blue {
    @apply bg-[var(--blue-color)];
  }
  .btn-green {
    @apply bg-[var(--green-color)];
  }
}
